:root {
  box-sizing: border-box;
  max-width: 100vw;
  --confetti: rgba(233, 212, 96);
  --buddha_gold: rgba(189, 155, 25);
  --ripe_lemon: rgba(247, 202, 24);
  --kurnikova: rgba(250, 216, 89);
  --background_white: #fff;
  --salem_green: rgba(30, 130,76);
  --dark_sea_green: rgba(144, 198, 149);
  --gossip_green: rgba(135, 211, 124);
}

*, 
::before, 
::after {
  box-sizing: inherit;
  margin-top: .5em;
}

.head_wrapper {
  display: flex;
  background-color: var(--background_white);
  justify-content: space-between;
}

.head_wrapper  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.head_wrapper ul li span:last-child {
  display: none;
}

.head_wrapper .image_wrapper > img{
  width: 10vw;
  height: 15vh;
  border-radius: 50%;
}


